/******************************************
/* GENERAL
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}
  
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
  
.clear {
  clear: both;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none; 
}

ul {
  padding-left: 0;
}

body {
  margin: 0;
  font-family: 'playfair display';
}
/******************************************
/* MEDIA QUERY
/*******************************************/
@media only screen and (min-device-width:601px) {
  i.phonebars {
    display: none;
  }
} 

@media only screen and (max-device-width:600px) {
  .navBar {
    display: none;
  }

  .icon {
    float: right;
    width: 20px;
  }

  ul > img.logo {
    margin-right: 0;
    margin-left: 0;
  }
}

/******************************************
/* NAVIGATION
/*******************************************/
header {
  float: left;
  width: 100%;
  height: 55px;
}

header nav ul li {
  width: 6%;
  float: left;
  font-weight: 600;
}

.logo {
  height: 45px;
  float: left;
  margin-left: 70px;
  margin-right: 650px;
  position: relative;
  left: 20px;
  top: -6px;
}

.orderNow {
  width: 7%;
  margin-right: 10px;
}

.location, .icon { 
  margin-right: 20px;
}
/******************************************
/* MAIN SECTION
/*******************************************/
.backgroundImageMain {
  background-image: url("../images/Untitled\ design.png");
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
  top: -25px;
}

main {
  margin-left: 90px;
  width: 600px;
}

h1 {
  padding-top: 160px;
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 20px;
}

input {
  width: 375px;
  padding: 7px 4px;
  border: solid #dfe1ec 1px;
}

input:active {
  border: none;
}

select {
  background-color: #ff8800;
  color: white;
  border: none;
  width: 120px;
  text-align: center;
  height: 31px;
  border-radius: 0 10px 10px 0;
  position: relative;
  left: -10px;
  font-weight: 700;
}

select:hover {
  cursor: pointer;
}

.logos {
  float: left;
  width: 50%;
  height: 30px;
}

.logos ul li {
  width: 30%;
  float: left;
  font-weight: 600;
  font-size: 20px;
}

.fa-brands {
  color: #ff8800;
  padding-right: 5px;
}
/******************************************
/* ABOUT US SECTION
/*******************************************/
.cherryPie {
  width: 40%;
  float: left;
  height: 100%;
}

.rightPart {
  float: right;
  width: 60%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/Rightside\ story.jpg);
}

.aboutUs {
  width: 100%;
  height: 608px;
  position: relative;
}

.orange {
  color: #ff8800;
  font-weight: 600;
  font-size: 20px;
}

.textPart {
  position: relative;
  top: 75px;
  left: 15px;
  width: 70%;
}

h3 {
  font-size: 62px;
  font-weight: 700;
  margin: 0;
}

#menuDiscovery {
  color: white;
  width: 170px;
  font-weight: 300;
  border-radius: 10px;
  padding: 10px 35px 10px 5px;
  background: linear-gradient(90deg, #ff8800, #ff8800 80%, #ffaa4d, #ffaa4d 20%);
  cursor: pointer;
}
/******************************************
/* QUISINE SECTION
/*******************************************/
.images img {
  width: 200px;
  height: 300px;
  border-radius: 3px;
}

.specialtyQuisine {
  text-align: center;
  height: 1200px;
  padding-top: 80px;
  background-color:#f2f6f7;
}

.cuisineSelectors {
  width: 110px;
  margin: 50px 0;
  border: none;
  background-color: #f2f6f7;
  font-size: 16px;
  border-bottom: solid 1px #e2e5e6;
  cursor: pointer;
}

.cuisineSelectors:active {
  border-bottom: solid 2px #ff8800;
  font-size: 17px;
  font-weight: 400;
  color: #ff8800;
}

.rowOne span {
  position: relative;
  display: block;
  bottom: 175px;
  font-size: 18px;
}

.rowTwo span {
  position: relative;
  display: block;
  bottom: 175px;
  font-size: 18px;
}

.stars {
  color:#ff8800;
  visibility: hidden;
}

.price, .foodItem {
  color: white;
  font-size: 26px;
  font-weight: 600;
  visibility: hidden;
}

.foodButton {
  position: relative;
  bottom: 155px;
  background-color:#ff8800;
  color: white;
  font-weight: 200;
  font-size: 16px;
  padding: 10px 8px;
  border: none;
  cursor: pointer;
  visibility: hidden;
  border-radius: 3px;
}
.rowOne {
  float: left;
  width: 15%;

}

.firstItem {
  margin-left: 300px;
}

.Items {
  height: 300px;
}

.firstRow {
  width: 100%;
  height: 400px;
}

.rowTwo {
  float: left;
  width: 15%;

}

.secondRow {
  width: 100%;
  height: 400px;
}
/******************************************
/* HOVERING THING
/*******************************************/
.Items:hover{
  .foodButton, .stars, .price, .foodItem {
    visibility: visible;
  }
  .foodImages {
    filter: brightness(50%) saturate(140%);
  }
}
/******************************************
/* OPENING HOURS SECTION
/*******************************************/
.openingHours {
  height: 900px;
  text-align: center;
  margin-top: 75px;
}

.fruitSaladImage {
  height: 400px;
  width: 750px;
}

.phoneNumber {
  display: block;
  font-size: 32px;
}

.phoneIcon {
  display: block;
  font-size: 48px;
  margin-top: 40px;
  cursor: pointer;
}

.openingTimes {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  text-align: left;
}

.days {
  margin-bottom: 6px;
  text-align: left;
}

.DaysNdHrs {
  float: left;
  width: 50%;
}

.MonToTues {
  padding-left: 400px;
}

.FriToSun {
  padding-left: 200px;
}

/******************************************
/* REVIEWS SECTION
/*******************************************/
.Testimonial {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.reviewer {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin-top: 40px;
}

.reviewerName {
  display: block;
  font-size: 28px;
  font-weight: 700;
}

.reviewerJob {
  display: block;
  font-weight: 200;
  margin-bottom: 20px;
}

.reviewStars {
  color: #ffc107;
}

.review {
  text-align: center;
  font-size: 28px;
  font-style:italic;
  margin-bottom: 140px;
}